# Dependencies
backend/venv/
frontend/node_modules/

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Local databases & configurations
backend/smart_recall.db
backend/.env
frontend/.expo/
frontend/web-build/

# OS specific files
.DS_Store
Thumbs.db
